@model List<UnderstandingDbContext.Models.Student>
@{
    ViewData["Title"] = "Student List";
}

<div class="container mt-5">

    <h2 class="text-center mb-4">Student List</h2>

    <table class="table table-bordered table-hover table-striped">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Department</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Name</td>
                    <td>@student.Age</td>
                    <td>@student.Department</td>
                </tr>
            }
        </tbody>

    </table>

</div>