
@model List<Employee>

    <h1>Employee Details</h1>

    <div>
        <table>
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
            </thead>
           
            @foreach(var employee in Model)
        {
            <tr>
                <td>
                    @employee.ID
                </td>
                <td>
                    @employee.Name
                </td>
                <td>
                    @employee.Phone
                </td>
                </tr>
            }
        
        
        </table>
    </div>